.AddProperty {
    padding: 10px;
    width: 30%;
    margin: 20px 40px;
    border-style: groove;
    border-color: rgb(145, 64, 202);
    border-width: 3px;
    background-color: lavender;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
    height: 35px;
    background-color: rgb(215, 167, 250);
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
    margin: 10px 5px 10px 5px;
}

input, select {
    padding:5px;
    margin: 2px;
    border-radius: 6px;   
}

label {
    width: 50px;
    margin: 5px;   
}

.Alert.alert-error {
    font-size: 18px;
    border: 2px solid red;
    padding: 5px;
    margin: 5px auto;
    background-color: rgb(255, 0, 0, 0.2);
    border-radius: 6px;
}

.Alert.alert-success {
    font-size: 18px;
    border: 2px solid green;
    padding: 5px;
    margin: 5px auto;
    background-color: rgb(0, 128, 0, 0.2);
    border-radius: 6px;
}
