.AddProperty {
    display: flex;
    margin: 5% auto;
    padding: 10px;
    width: 30%;
    border-style: ridge;
    border-color: rgb(145, 64, 202);
    border-width: 7px;
    background-color: lavender;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
    height: 35px;
    background-color: rgb(215, 167, 250);
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
    margin: 10px auto auto 5px;
}

input, select {
    padding:5px;
    margin: 2px;
    border-radius: 6px;   
}

label {
    width: 50px;
    margin: 5px;   
}

@media only screen and (min-width: 1400px) {
    .AddProperty {
        font-size: 1em;
        padding: 1.5em;
        padding-bottom: 3em;
    }
}

@media only screen and (max-width: 1399px) {
    .AddProperty {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 1250px) {
    .AddProperty {
        font-size: 0.8em;
        padding: 1.5em;
    }

    .AddProperty input,select {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1150px) {
    .AddProperty {
        font-size: 0.7em;
    }

    .AddProperty input,select {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 740px) {
    .AddProperty {
        width: 50%;
        margin-top: 8%;
    }
}

@media only screen and (max-width: 600px) {
    .AddProperty {
        width: 70%;
        margin-top: 8%;
    }
}

@media only screen and (max-width:450px) {
    .AddProperty {
        width: 80%;
        margin-top: 8%;
    }
}