.AddProperty {
    padding: 10px;
    width: 30%;
    margin: 40px;
    border-style: groove;
    border-color: rgb(145, 64, 202);
    border-width: 3px;
    background-color: lavender;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
    height: 35px;
    background-color: rgb(215, 167, 250);
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
    margin: 30px 5px 10px 5px;
}

input, select {
    padding:5px;
    margin: 2px;
    border-radius: 6px;   
}

label {
    width: 50px;
    margin: 5px;   
}

