.Alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	top:30%;
	bottom: 50%;
	left: 40%;
    right: 20%;
    margin: auto;
    font-size: 2em;
    padding: 1em;
    border-radius: 6px;
}

.Alert.alert-success {
    border: 3px solid rgb(41, 39, 39);
    background-color: rgba(68, 116, 68, 0.849);
}

.Alert.alert-error {
    border: 3px solid rgb(59, 33, 33);
    background-color: rgba(190, 54, 54, 0.945);
}
