.Favorite {
    margin: 0;
}

.Favorite > .item {
    box-sizing: border-box;
    width: 8em;
}

#fav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1.5em;
    justify-content: space-around;
    align-items: space-around;
}

#favourite {
    margin: auto;
}

@media only screen and (min-width: 1750px) {
    #fav-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1250px) {
    #fav-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1070px) {
    #fav-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .Favorite {
        margin: 10px auto;
    }

    #fav-container {
        grid-template-columns: 1fr;
    }
}
