.Properties {
    margin: 0;
}

.Properties > .item {
    box-sizing: border-box;
    width: 8em;
}

.Properties {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#prop-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1.5em;
    justify-content: space-around;
    align-items: space-around;
}
