.Property {
  display: flex;
  flex-direction: column;
  width: 16em;
  padding: 15px;
  margin: auto;
  border-style: groove;
  border-color: rgb(145, 64, 202);
  border-width: 3px;
  background-color: lavender;
  justify-content: space-around;
  align-items: stretch;
}

#title {
  font-weight: bold;
}

#city {
  font-style: italic;
}

#email,
#save-btn,
#delete-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(93, 78, 187);
  margin: 10px 0;
  padding: 5px;
  color: white;
  font-size: 18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-style: groove;
  border-color: rgb(145, 64, 202);
  border-width: 3px;
  border-radius: 6px;
  text-decoration: none;
}

#save-btn,
#delete-btn {
  width: 100%;
  cursor: pointer;
}

.Property a {
  text-decoration: none;
}

.items {
  min-height: 20px;
}

#house-icon {
  margin: 0 auto 0 auto;
  width: 4em;
  justify-self: center;
  background-color: rgb(235, 227, 222);
  padding: 5em;
}

#house-padding {
  justify-self: center;
  display: flex;
  justify-self: center;
  margin: 0 auto 30px auto;
  background-color: rgb(235, 227, 222);
}

@media only screen and (max-width: 350px) {
  #house-icon {
      margin: 0 auto 0 auto;
      width: 4em;
      justify-self: center;
      background-color: rgb(235, 227, 222);
      padding: 4em;
  }

  .Property {
    width: 13em;
  }
}